
img {
  height: 300 px;
  width: 450px;
  float: right;
 
}

.place-info {
  font-size: 20px;
  font-family: 'Open Sans';
  padding-right: 50px;
  justify-content: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

img{

}

p{
  float: right;
}

.calendar{
  float:left;
}

.reviewSection{
  padding-bottom: 100px;

}


.bodypart{
  color: black;
  text-align: center;
}


.places-Section{
 display: flex;
 flex-flow: row wrap;
 align-items: center;
 justify-content: top;
 padding-left: 180px;
}

.navbar {
  background-color: #ffffffe0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
  font-size: xx-large;
  text-align: end;
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: #26a01b;
  border: 2px solid white;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}
.button:hover {
  background-color: darkslateblue;
  text-shadow: 1px 1px 2px white;
}