  h1{
    color: #000000;
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    align-items: baseline;
  }

.navbutton{
  padding-top: 20px;
  margin-top: 8px;
}

.deletebtn{
  display: flex;
  justify-content: center;
}

  h1.reviewtitle {
    display: flex;
    float: left;
    margin: 1em;
    
}

h1.eachnameplace{
  display: flex;
  justify-content: center;
  text-align: center;
}

h1.maintitle{
  display: flex;
  justify-content: center;
  /* text-align: center; */
}

form.submitform {
  align-items: flex-end;
  padding-top: 200px;
  border: 3px solid rgb(161, 160, 159);
  border-radius: 1em;
  margin: 1em;
}

img {
  height: 300 px;
  width: 450px;
  float: right;
  /* margin: 1em; */

}

.searchicon{
  padding-top: 20px;
  padding-left: 60px;

}



input {
  flex-direction: row;
}

form.searchBar {
  margin-top: -10px;
  justify-content: flex-start;
  align-items: flex-end;
  padding-right: 80rem;
}


.place-info {
  font-size: 20px;
  font-family: 'Open Sans';
  padding-right: 50px;
  justify-content: right;
  display: flex;
  flex-direction: column;
 
}

.pcontainer{
  width: 300px;
  border: 1px solid gray;
  padding: 68px;
  margin: 0em 67em;
  justify-content: flex-end;
  display: flow-root;
}


p {
  display:flex;
 justify-content: flex-end;
 font-weight:bolder;
}

p.p2{
  font-size: 30px;
  justify-content: center;
}

p.p3{
  justify-content: center;
}
p.p4{
  font-size: 15px;
  justify-content: center;
}

.rev-card{
  display: flex;
  justify-content: flex-start;
  border: 1px solid rgb(158, 157, 157)
}

.calendar {
 display: flex;
 justify-content: space-between;
  padding-top: 100px;
}

.reviewSection {
  padding-bottom: 100px;

}


.bodypart {
  color: black;
  text-align: center;
}


.places-Section {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: top;
  padding-left: 180px;
}

.navbar {
  background-color: #ffffffe0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
  border: 1px solid rgb(175, 170, 170);
  font-size: xx-large;
  text-align: end;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  
}

.button {
  background-color: #ce4217;
  border: 2px solid white;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.button:hover {
  background-color: darkslateblue;
  text-shadow: 1px 1px 2px white;
}